.navbar {
  backdrop-filter: blur(3rem);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 111;
}
.logo {
  width: 4rem;
}

.nav-items a {
  padding: 0.2rem;
}
.nav-items a:active {
  box-shadow: var(--shadow-out);
  padding: 0.4rem;
  border-radius: 45%;
}
.nav-items a:hover {
  color: var(--primary-light);
}
.navbar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}
.brand {
  text-decoration: none;
  color: black;
  transition: .3s ease;
}
.brand:focus,
.brand:active {
  outline: none;
  border: none;
}
.brand:hover {
  color: var(--primary-dark);
}
.links {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0rem 3rem;
  text-decoration: none;
  transition: 0.1s ease-out;
}

.curve {
  border-radius: 13px;
}
.product_images img {
  width: 20rem;
  border-radius: 10px;
}
.cards {
  border-radius: 10px;
}

#navbarNavDropdown {
  position: absolute;
  right: 7rem;
}
