.cardsServices {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  border-radius: 10px;
}
.serviceCardImg{
  border-radius: 6px;
}
.cardsServices a{
  text-decoration: none;
}
.cardsServices img {
  border-radius: 6px;
  width: 20rem;
  box-shadow: var(--shadow-out);
}
