@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
.lazy-load-image-background {
  display: flex !important;
}
.App {
  position: relative;
  min-height: 100vh;
}
.s-border {
  width: 50px;
  height: 1px;
  margin-bottom: 2px;
  border-radius: 50px;
  background: #c5c5c5;
}
.m-border {
  width: 25px;
  height: 1.2px;
  margin-bottom: 10px;
  border-radius: 50px;
  background: #c5c5c5;
}
h1,h2,h3,h4,h5,h6 {
  color: #f35656;
}