@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400&display=swap");

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}
img{
  border-radius: 8px!important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
.lazy-load-image-background {
  display: flex !important;
}
.App {
  position: relative;
  min-height: 100vh;
}
.s-border {
  width: 50px;
  height: 1px;
  margin-bottom: 2px;
  border-radius: 50px;
  background: #c5c5c5;
}
.m-border {
  width: 25px;
  height: 1.2px;
  margin-bottom: 10px;
  border-radius: 50px;
  background: #c5c5c5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f35656;
}

.active {
  /* Add your styles for the active link here */
  color: #e74848; /* Change the text color for the active link */
}

.active::before,
.active::after {
  width: 100%; /* Set the width of the line for the active link */
}
